body {
  background: #111    ;
}

.webcam {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto;
  text-align: center;
  z-index: 10;
  width: 660px;
  height: 480px;
  top: 0;
  bottom: 0;
}

.canvas {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
  width: 660px;
  height: 480px;
}
